all:
  hosts:
    localhost:
      ansible_connection: local
      tasks:
        asdf:
          run: true
          plugins:
            - name: kubectl
              url: https://github.com/asdf-community/asdf-kubectl.git
            - name: packer
              url: https://github.com/asdf-community/asdf-hashicorp.git
            - name: terraform
              url: https://github.com/asdf-community/asdf-hashicorp.git
          version: v0.8.1
        awscli:
          run: true
        docker:
          run: true
          package: docker-ce=5:20.10.8~3-0~debian-bullseye
          compose:
            path: /usr/local/bin/docker-compose
            version: '1.26.0'
        lens:
          run: true
        packages:
          run: true
          base:
            - blueman
            - bluez
            - bluez-firmware
            - dnsutils
            - firefox-esr
            - git
            - inxi
            - jq
            - linux-cpupower
            - netcat
            - vim
            - wget
            - zip
        postman:
          run: true
        slack:
          run: true
        snap:
          run: false
          refresh_timer: mon,8:00~10:00,,fri,8:00~10:00
        telegram_desktop:
          run: true
        tlp:
          run: true
        vscode:
          run: true
          extensions:
            - hashicorp.terraform
            - ms-azuretools.vscode-docker
            - ms-kubernetes-tools.vscode-kubernetes-tools
            - ms-python.python
            - redhat.ansible
            - yzhang.markdown-all-in-one
        wireguard:
          run: true        
